<include file="Layout:header" />
        <div class="main-content">
            <div class="page-content">
                <div class="row indexBox">
              <div class="page-content box">
                <div class="box-title margin_bot_20">
                    <div class="span10">
                        <h3 class="red">
                            <i class="icon-volume-down icon-2x green"></i>
                            欢迎你！<i class="blue">sysadmin</i>开通时间：2015-06-18 到期时间:2015-06-21
                        </h3>


                    </div>
                </div>
                <ul class="indexK">
                    <li class="blueBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-calendar"></i>
                        </span>
                        <span class="indexKRight">
                            <b>0</b>
                            今日订单量
                        </span>
                    </li>
                    <li class="greenBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-bar-chart"></i>
                        </span>
                        <span class="indexKRight">
                            <b>0</b>
                            今日销售额
                        </span>
                    </li>
                    <li class="redBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-group"></i>
                        </span>
                        <span class="indexKRight">
                            <b>0</b>
                            今日商城访问量
                        </span>
                    </li>
                    <li class="yellowBg">
                        <span class="icon-circle indexKLeft">
                            <i class="icon-glass"></i>
                        </span>
                        <span class="indexKRight">
                            <b>0</b>
                            今日参与活动
                        </span>
                    </li>
                </ul>
                <div class="indexTable">
                    <div class="indexTableRight">
                        <h4 class="indexTableTit">
                            <i class="icon-reorder blue"></i>
                            <span>已付款订单列表</span>
                        </h4>
                        <table>
                            <thead>
                            <tr><th width="90px">会员ID</th>
                                <th width="120px">订单号</th>
                                <th width="100px">时间</th>
                                <th width="60px">总价</th>
                                <th width="100px">状态</th>
                            </tr></thead>
                            <tbody>
                            <tr>
                                <td>33</td>
                                <td>20151015104109</td>
                                <td>2015-10-15 10:41:09</td>
                                <td>￥0.01</td>
                                <td>已付款，待发货</td>
                            </tr><tr>
                                <td>24</td>
                                <td>20151015101535</td>
                                <td>2015-10-15 10:15:35</td>
                                <td>￥0.01</td>
                                <td>已付款，待发货</td>
                            </tr><tr>
                                <td>33</td>
                                <td>20151014140250</td>
                                <td>2015-10-14 14:02:50</td>
                                <td>￥0.01</td>
                                <td>已付款，待发货</td>
                            </tr><tr>
                                <td>33</td>
                                <td>20151014135644</td>
                                <td>2015-10-14 13:56:44</td>
                                <td>￥0.01</td>
                                <td>已付款，待发货</td>
                            </tr><tr>
                                <td>33</td>
                                <td>20151014135044</td>
                                <td>2015-10-14 13:50:44</td>
                                <td>￥0.01</td>
                                <td>已付款，待发货</td>
                            </tr>                            </tbody>
                        </table>
                    </div>
                    <div class="indexTableRight">
                        <h4 class="indexTableTit">
                            <i class="icon-reorder blue"></i>
                            <span>已付款订单列表</span>
                        </h4>
                        <table>
                            <thead>
                                <tr><th width="90px">会员ID</th>
                                <th width="120px">订单号</th>
                                <th width="100px">时间</th>
                                <th width="60px">总价</th>
                                <th width="100px">状态</th>
                            </tr></thead>
                            <tbody>
                                <tr>
                                    <td>33</td>
                                    <td>20151015104109</td>
                                    <td>2015-10-15 10:41:09</td>
                                    <td>￥0.01</td>
                                    <td>已付款，待发货</td>
                                </tr><tr>
                                    <td>24</td>
                                    <td>20151015101535</td>
                                    <td>2015-10-15 10:15:35</td>
                                    <td>￥0.01</td>
                                    <td>已付款，待发货</td>
                                </tr><tr>
                                    <td>33</td>
                                    <td>20151014140250</td>
                                    <td>2015-10-14 14:02:50</td>
                                    <td>￥0.01</td>
                                    <td>已付款，待发货</td>
                                </tr><tr>
                                    <td>33</td>
                                    <td>20151014135644</td>
                                    <td>2015-10-14 13:56:44</td>
                                    <td>￥0.01</td>
                                    <td>已付款，待发货</td>
                                </tr><tr>
                                    <td>33</td>
                                    <td>20151014135044</td>
                                    <td>2015-10-14 13:50:44</td>
                                    <td>￥0.01</td>
                                    <td>已付款，待发货</td>
                                </tr>                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="indexTable">
                    <div class="indexTableLeft">
                        <h4 class="indexTableTit">
                            <i class="icon-reorder blue"></i>
                            <span>新加入会员列表</span>
                        </h4>
                        <table>
                            <thead>
                                <tr><th width="60px">会员ID</th>
                                <th width="60px">头像</th>
                                <th width="120px">昵称</th>
                                <th width="60px">关注</th>
                                <th width="80px">东家</th>
                                <th width="60px">推荐人ID</th>
                            </tr></thead>
                            <tbody>
                                 <tr>
                                    <td>35</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/wEXxTcWOqGpy5dicbxA3o6kpTnG4VQNZricqr22XvgQncCdIvavzjAEcn1MXupkCJSiadvJhFF2ZD0q3lmMicQ83sxYROIhicBfp8/0" width="50px" hieght="50px"></td>
                                    <td></td>
                                    <td><font color="#ff0000">否</font></td>
                                    <td><font color="#ff0000">否</font><br><a href="javascript:void(0);" onclick="cancelMember('35',1);">[成为东家]</a></td>
                                    <td>直接关注</td>
                                </tr><tr>
                                    <td>34</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/wEXxTcWOqGpy5dicbxA3o6kpTnG4VQNZricqr22XvgQncCdIvavzjAEcn1MXupkCJSiadvJhFF2ZD0q3lmMicQ83sxYROIhicBfp8/0" width="50px" hieght="50px"></td>
                                    <td>米粒兔子</td>
                                    <td><font color="#03A92B">是</font></td>
                                    <td><font color="#ff0000">否</font><br><a href="javascript:void(0);" onclick="cancelMember('34',1);">[成为东家]</a></td>
                                    <td>24</td>
                                </tr><tr>
                                    <td>33</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaELmibt7wj6JVsdd9QVLwn8g4oO64VJUYb8lCBPHFibFSABYVQFSicBia5TqmtA5QbCVoxnbBfAOsutdtw/0" width="50px" hieght="50px"></td>
                                    <td>.</td>
                                    <td><font color="#03A92B">是</font></td>
                                    <td><font color="#03A92B">是</font><br><a href="javascript:void(0);" onclick="cancelMember('33',0);">[取消资格]</a></td>
                                    <td>24</td>
                                </tr><tr>
                                    <td>32</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/YCOL3hU8ffVchBvw05SVeDTr0zPOfY3Mgsc9YtEwyicNAQU5KXV25mKrmVfl63ZXu4yMdM0UCXcVwPHSQlUju7A/0" width="50px" hieght="50px"></td>
                                    <td>于淼</td>
                                    <td><font color="#03A92B">是</font></td>
                                    <td><font color="#ff0000">否</font><br><a href="javascript:void(0);" onclick="cancelMember('32',1);">[成为东家]</a></td>
                                    <td>直接关注</td>
                                </tr><tr>
                                    <td>29</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/b0mCmiaAiaBx4mnH1yC3YKpeIuO5A3qRAFrYz9Rse5zV9BezpZCJiav06r3Siatfw2A7VvYqWo5cicOZRrmeicBMOI9vkhhD3QrCwt/0" width="50px" hieght="50px"></td>
                                    <td>Sunny</td>
                                    <td><font color="#03A92B">是</font></td>
                                    <td><font color="#ff0000">否</font><br><a href="javascript:void(0);" onclick="cancelMember('29',1);">[成为东家]</a></td>
                                    <td>直接关注</td>
                                </tr>                            
                            </tbody>
                        </table>
                    </div>
                    <div class="indexTableRight">
                        <h4 class="indexTableTit">
                            <i class="icon-reorder blue"></i>
                            <span>申请提现列表</span>
                        </h4>
                        <table>
                            <thead>
                                <tr><th width="60px">会员ID</th>
                                <th width="60px">头像</th>
                                <th width="120px">昵称</th>
                                <th width="100px">申请提现/可提现</th>
                                <th width="150px">申请/审核日期</th>
                                <th width="60px">状态</th>
                            </tr></thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/Q9fk36MkRpHEwNXSK6JUTIUiaZkKiaLibiaJoqhIevxVsZuY5A41GMYr5vOemK5oibNicoPoNsGDGu9kb3RCWsIZf9ibQVEXAlhqggg/0" width="50px" height="50px;"></td>
                                    <td>大蒙古帝国</td>
                                    <td>￥100.00<br><span style="color:red;">0</span></td>
                                    <td>申请:2015-06-11 08:25:43</td>
                                    <td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"> <a href="javascript:void(0)" onclick="uWAgree('21', 1);"><font class="red"> 未通过 </font></a> </div></td>
                                </tr><tr>
                                    <td>7</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLDuA3hoObWkvBBIFmYfrKhgFXNWSnxiaAL3XM31VH5STV49l1szMOU49nDpusQqiaaibPCcQj9Y8GVUw/0" width="50px" height="50px;"></td>
                                    <td>赵超</td>
                                    <td>￥100.00<br><span style="color:red;">-100</span></td>
                                    <td>申请:2015-06-10 17:33:06<br>审核:2015-09-16 09:45:04</td>
                                    <td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"> <font class="green"> 通过 </font> </div></td>
                                </tr><tr>
                                    <td>1</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/Q9fk36MkRpHEwNXSK6JUTIUiaZkKiaLibiaJoqhIevxVsZuY5A41GMYr5vOemK5oibNicoPoNsGDGu9kb3RCWsIZf9ibQVEXAlhqggg/0" width="50px" height="50px;"></td>
                                    <td>大蒙古帝国</td>
                                    <td>￥300.00<br><span style="color:red;">0</span></td>
                                    <td>申请:2015-06-08 13:12:46<br>审核:2015-06-22 10:14:48</td>
                                    <td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"> <font class="green"> 通过 </font> </div></td>
                                </tr><tr>
                                    <td>1</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/Q9fk36MkRpHEwNXSK6JUTIUiaZkKiaLibiaJoqhIevxVsZuY5A41GMYr5vOemK5oibNicoPoNsGDGu9kb3RCWsIZf9ibQVEXAlhqggg/0" width="50px" height="50px;"></td>
                                    <td>大蒙古帝国</td>
                                    <td>￥300.00<br><span style="color:red;">0</span></td>
                                    <td>申请:2015-06-04 13:46:04</td>
                                    <td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"> <a href="javascript:void(0)" onclick="uWAgree('18', 1);"><font class="red"> 未通过 </font></a> </div></td>
                                </tr><tr>
                                    <td>8</td>
                                    <td><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLCvObWF7kqWO1nO2SGTQyYfankvtiaH0SmAnJT9XjFxA11NnCgmmonfStY6mwyvBmQibZhREVs2leYg/0" width="50px" height="50px;"></td>
                                    <td>Beck</td>
                                    <td>￥200.00<br><span style="color:red;">0</span></td>
                                    <td>申请:2015-06-03 18:02:18<br>审核:2015-06-05 13:27:48</td>
                                    <td><div class="visible-md visible-lg hidden-sm hidden-xs action-buttons"> <font class="green"> 通过 </font> </div></td>
                                </tr>                            
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
                <!--/.box-->
            </div>
       <!-- /.page-content -->
        </div><!-- /.main-content -->
    <include file="Layout:footer" />
